/* html {
  font-size: 72.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  display: grid;
  grid-template-columns: 2rem 0.8fr 1fr 1fr 2rem;
  border-bottom: 1px solid lightgrey;
}

.logo {
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: black;
}

.Ecom {
  color: blue;
}

.menu-link {
  grid-column: 3/4;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  color: rgba(0, 0, 3, 0.8);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgba(0, 0, 3, 1);
  text-decoration: underline;
  transition: 0.5s;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu-container input {
  padding-right: 50%;
}

.search-bar-container {
  height: 20px;
  position: relative;
  top: 40%;
}

.menu-container ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
}

.menu-container ul li:first-child {
  grid-column: 2/3;
}

.menu-container ul li {
  font-size: 1.8rem;
  text-align: right;
}

.menu-container .hamburger-menu {
  display: none;
}

@media (max-width: 1080px) {
  .main-nav {
    height: 8rem;
    grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
  }

  .logo,
  .menu-link ul,
  .menu-container ul {
    height: 8rem;
  }
}

@media (max-width: 998px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .menu-container ul {
    height: 7rem;
  }

  .mobile-menu-link {
    background-color: white;
    height: 20rem;
    display: grid;
    position: relative;
    z-index: 99;
    grid-column: 2/4;
    align-items: center;
    padding-left: 3rem;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .menu-container {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
  }

  .menu-container {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .menu-container .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 2fr 1fr 1fr 1rem;
  }

  .logo,
  .menu-container ul {
    height: 6rem;
  }

  .menu-container {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .menu-container .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
  }

  .logo,
  .menu-container ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .menu-container {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .menu-container .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.main-nav {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
}

.logo {
  flex-basis: 10%;
}

.menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-basis: 60%;
  margin: 0 5%;
}

.search-bar-container {
  flex-basis: 25%;
  align-items: center;
}

.search-bar {
  width: 90%;
  margin: 0 5%;
}

.menu-container {
  flex-basis: 5%;
  margin-left: 2%;
  align-items: center;
}
