.home__component h2 {
  margin: 1em 0;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products img {
  max-width: 300px;
  width: 100%;
}

.items {
  border: 1px solid lightgray;
  margin: 1rem;
}

.items__info {
  padding: 1rem;
}

.items a {
  text-decoration: none;
  color: black;
}
