header {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

header a {
  text-decoration: none;
  color: #343a40;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
}

header a .logoFirst {
  color: rgb(0, 166, 255);
}

main h2 {
  margin-top: 20px;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.products img {
  max-width: 300px;
  width: 100%;
}

.items {
  border: 1px solid lightgray;
  margin: 1rem;
}

.items__info {
  padding: 1rem;
}

.items a {
  text-decoration: none;
  color: black;
}
